<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <title>Daftar Aktivitas</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Daftar Aktivitas</h1>
        <div class='text-right mt-4 mb-4'>
            <a href="{{ url_for('activities.form') }}" class='btn btn-success'>Tambah Aktivitas Baru</a>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th scope='col'>#</th>
                            <th scope='col'>Nama Aktivitas</th>
                            <th scope='col'>Grup Umur</th>
                            <th scope='col'>Lokasi</th>
                            <th scope='col'>Update</th>
                            <th scope='col'>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                            <tr>
                                <th scope='row'>{{ loop.index }}</th>
                                <td>{{ activity.activity_name }}</td>
                                <td>{{ activity.age_group }}</td>
                                <td>{{ activity.location }}</td>
                                <td><a href="{{ url_for('activities.update_activity', activity_id=activity.id) }}" class='btn btn-primary'>Update</a></td>
                                <td><form action="{{ url_for('activities.delete_activity', activity_id=activity.id) }}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
</body>
</html>
