<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <title>Daftar Nannies</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Daftar Nannies</h1>
        <div class='text-right mt-4 mb-4'>
            <a href='{{ url_for('nannies.form') }}' class='btn btn-success'>Tambah Nanny Baru</a>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th scope='col'>id</th>
                            <th scope='col'>Name</th>
                            <th scope='col'>Email</th>
                            <th scope='col'>Phone Number</th>
                            <th scope='col'>Gender</th>
                            <th scope='col'>Availibility</th>
                            <th scope='col'>Address</th>
                            <th scope='col'>Age</th>
                            <th scope='col'>Update</th>
                            <th scope='col'>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nanny in nannies %}
                            <tr>
                                <th scope='row'>{{ nanny.id }}</th>
                                <td>{{ nanny.name }}</td>
                                <td>{{ nanny.email }}</td>
                                <td>{{ nanny.phone_number }}</td>
                                <td>{{ nanny.sex }}</td>
                                <td>{{ nanny.availability }}</td>
                                <td>{{ nanny.address }}</td>
                                <td>{{ nanny.age }}</td>
                                <td>
                                    <!-- Ganti tombol form dengan tautan -->
                                    <a href="{{ url_for('nannies.update_nanny', nanny_id=nanny.id) }}" class="btn btn-primary">Update</a>
                                </td>
                                <td>
                                    <!-- Form Hapus Tetap Menggunakan Metode POST -->
                                    <form action="{{ url_for('nannies.delete_nanny', nanny_id=nanny.id) }}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
</body>
</html>
